:root
{
  /* primarios */
   --Red: hsl(0, 100%, 74%); 
   --Green: hsl(154, 59%, 51%);
  
   /* acentos */
 
   --Blue: hsl(248, 32%, 49%);

   /* Neutral */
   --Dark_Blue: hsl(249, 10%, 26%);
   --Grayish_Blue: hsl(246, 25%, 77%);

}

body
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url(/images/bg-intro-desktop.png);
  background-color: var(--Red);
}

.CardForm
{
  
}